@import "tailwindcss";



*{
  font-family: "Alan Sans", sans-serif;
 
}

/* Optional: apni custom variables */
:root {
  --primary: #8A2BE2;
  --secondary: #FF6EC7;
  --bg: #FFF5E1;
  --dark: #2E2E2E;
  --accent: #1ABC9C;
}

/* global.css ya index.css me add karo */
/* global.css ya index.css me add karo */
::-webkit-scrollbar {
  width: 8px;          /* only vertical scrollbar width */
  height: 0;           /* horizontal scrollbar hide */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* primary color */
  border-radius: 10px;
  border: 2px solid #f3f4f6;
}

html, body {
  -webkit-overflow-scrolling: touch; /* iOS smooth scroll */
  scrollbar-width: none; /* Firefox hide scrollbar */
}
body::-webkit-scrollbar {
  display: hidden; /* Chrome/Edge hide scrollbar */
}
/* Mobile only */
@media (max-width: 768px) {
  /* For main scroll container */
  main {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

/*medea querry for upload page */
    
@media (max-width: 500px) {
    
  .upload{
   padding: 15px !important;
   margin: 0 !important;
   flex-direction: column;
   width: 100%;
   gap: 20px;
   height: 180vh;
   


  }

}

@media (max-width: 500px) {
    
  .post-page{
   padding: 0 !important;
   padding-top: 5px !important;
   margin: 0 !important;
   flex-direction: column;
   height: 135vh;
   
   
   
   


  }
  .post-page-image{
   
  }

}

@media (max-width: 500px) {
    
  .profile-page{
   padding: 0 !important;
   margin: 0 !important;
   
   


  }
  .profile-header{
    display: flex;
    width: 100%;
  }

}

@media (max-width: 500px) {
    
  .challange-page{
   padding: 0 !important;
   margin: 0 !important;
   width: 100% !important;
  
   height: 180vh;
   
   


  }
  .challange-page-content{
    margin: 0 !important;
    
  }
 

}


